@import "@radix-ui/themes/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 26, 26;
  --background-end-rgb: 26, 26, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1a1a1a;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E70E44;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF3366;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #E70E44 transparent;
}

